* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.blue-text { color: blue; }

body {
    width: 100%;
    height: 100vh;
}

/* INDEX.php */

.connexion-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connexion-container img,
.connexion-container form {
    margin: 10px 0;
}

.connexion-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connexion-container .pedocode {
    height: 40px;
    width: 20%;
    position: relative;
}
.connexion-container .pedocode input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}
.connexion-container .pedocode input:focus ~ label,
.connexion-container .pedocode input:valid ~ label {
    transform: translateY(-20px);
    font-size: 16px;
    color: gray;
}
.connexion-container .pedocode label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 20px;
}
.connexion-container .pedocode .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}
.connexion-container .pedocode .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #0325e1;
    transform: scaleX(0);
}
.pedocode input:focus ~ .underline:before,
.pedocode input:valid ~ .underline:before {
    transform: scaleX(1);
}

.btn-container {
    margin: 20px 0;
}

.connexion-container img {
    width: 25%;
}

.colorRoom {
    color: #0325e1;
    background-color: #505050;
}

/* HOME */

/* header {
    width: 100%;
    display: flex;
    justify-content: center;
} */

h1 {
    text-align: center;
}

form {
    width: 100%;
}

.formulaire,
.calendrier {
    height: 80%;
}

#container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.formulaire {
    width: 40%;
}

.c {
    width: 100%;
    height: 100%;
    padding: 45px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.formulaire .content select,
.formulaire .content div {
    margin: 20px;
} 

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    width: 50%;
}

.input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
}

.input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-radio {
    height: 30px;
    display: flex;
}

.time-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material {
    height: 100px;
}

.input-hardware {
    width: 50%;
}

#hardware_material {
    width: 100%;
}

.btn {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CALENDRIER */

.calendrier {
    width: 60%;
}

.calendrier h1 {
    text-align: center;
}

.calendrier-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.legend {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend .float {
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend .float p {
    margin-left: 1em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
}

/* DATEPICKER */
.modal{
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);

}

.formInput {
    position: relative;
    font: 300 1em/48px "Open Sans";
    margin: 0 0 8px;
    padding: 0;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 4px;
    overflow: hidden;
    color: #505050;
}
.formInput:hover {
    color: black;
}
.formInput i {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 48px;
    height: 47px;
    line-height: 48px;
    text-align: center;
    /*background-color: #e0e0e0;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);*/
    font-size: 1em;
    transition: box-shadow .2s, color .3s, background-color .4s;
}
.formInput input {
    box-sizing: border-box;
    z-index: 1;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0 4px 0 56px;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 100%;  
    height: 47px; 
    line-height: 47px;
    background: transparent;
    color: inherit;
    transition: border-color .2s, color .2s, background-color .4s;
}

.formInput input[disabled]:active,.formInput input[disabled]:focus,
.formInput input[disabled]:hover {
    border-color: transparent;
    background-color: transparent;
}
.formInput input:active, .formInput input:focus,
.formInput textarea:active, .formInput textarea:focus,
.formInput.dateSelector:hover input{
    border-color: #b0b0b0;
    outline: none;
    color: black;
    background-color: rgba(0,0,0,0.025);
}

.formInput.dateSelector {
    transition: background-color .2s;
}

/* ERROR INPUT */
.ERROR_INPUT {
    border-color: red;
}

/* IFRAME */
iframe {
    border-radius: 5px;
}

/* CHECK */
.container-erreur {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container-erreur .bound span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
    margin: auto;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 100px;
}

.bound span:nth-child(1){ left:-4.2em; animation: bound-anim 0.8s 0.0s infinite;}
.bound span:nth-child(2){ left:-2.8em; animation: bound-anim 0.8s 0.1s infinite;}
.bound span:nth-child(3){	left:-1.4em; animation: bound-anim 0.8s 0.2s infinite;}
.bound span:nth-child(4){	left: 0.0em; animation: bound-anim 0.8s 0.3s infinite;}
.bound span:nth-child(5){	left: 1.4em; animation: bound-anim 0.8s 0.4s infinite;}
.bound span:nth-child(6){ left: 2.8em; animation: bound-anim 0.8s 0.5s infinite;}
.bound span:nth-child(7){ left: 4.2em; animation: bound-anim 0.8s 0.6s infinite;}

@keyframes bound-anim {
	0%,100% {top: 0;transform: scale(1);}
	30% {top: -25%;}
	50% {transform: scale(1);}
	90% {top: 0;transform: scale(1.2,0.8);}
}

.container-erreur .progress {
    width: 50%;
}

.container-erreur a {
    background-color: rgb(16, 51, 150);
    border-radius: 3px;
    padding: 10px 20px;
    margin: 20px 0;
    color: white;
}
